key_name = ""
name_prefix = ""
instance_name = ""
vpc_id = ""
subnets = " , , "

elb_internal = false
public_ip = true

# This downloads Vault Enterprise by default
vault_download_url = "https://s3-us-west-2.amazonaws.com/hc-enterprise-binaries/vault/ent/0.10.3/vault-enterprise_0.10.3%2Bent_linux_amd64.zip"

# This downloads Consul Enterprise by default
consul_download_url = "https://s3-us-west-2.amazonaws.com/hc-enterprise-binaries/consul/ent/1.2.1/consul-enterprise_1.2.1%2Bent_linux_amd64.zip"

instance_type = ""

owner = ""
ttl = ""
auto_join_tag = ""
